*{
    font-family: 'Playfair Display', serif;
    background-color: #ff6289;
    color:#ffffff;
}
header{
    text-align: center;
    text-decoration: underline;
    position:static;
    display:block;
}
h1{
    color:white;
}

h2{
    color:hsl(39, 77%, 83%);
}

h3{
    color:rgb(245, 222, 179);
}
/*descendant selector*/
ol li,ul li{
    font-size: 1.15rem;
    width: 45vmin;
}
/*Child selector*/
ul > li{
    line-height: 2lh;
    color: beige;
}
/*sibling selector*/
span ~ p{
    color: aquamarine;
}

/*adjacent sibling selector*/
span + p{
    color: blueviolet;
}

/*flex box*/
.flex-container{
    display: flex;
    gap: 10px;
}

.item {
    flex-basis: content; 
    flex-shrink: 1;
    padding: 5px 17px;
}

.leftover{
    order: 0;
    flex-grow: 1; 
}
.new-topic{
    order: 1;
    flex-grow: 1; 
}

.questions{
    order: 2;
    flex-grow: 2; 
}

/*grid*/
.grid-container{
    display: grid;
    grid-template-columns:[one] 2% [first] 48% [line2] 48% [last] 2% [end];
    grid-template-rows: [row1-start] auto [row1-end] auto [row2-end];
}

.pic{
    justify-self: center;
    column-gap: 10px;
    row-gap: 3px;
}

.pic1{
    grid-row-start: row1-start;
    grid-row-end: row1-start;
    grid-column-start: first;
    grid-column-end: 2;
}
.pic2{
    grid-row: row1-start / row1-end;
    grid-column: line2 / last;
}
/*Multiple Element*/
.pic3,.pic4{
    grid-row: row1-end / row2-end;
}
/*Descendant Element*/
.pic.pic3{
    grid-column: first / line2;
}
.pic4{
    grid-column: line2 / last;
}
/*Responsive Design*/
@media only screen and (max-width: 1028px) {
    /* … */
    *{
        font-size: smaller;
    }
}
/*display check*/
.hide{
    display:none;
}
.footer{
    display: block;
}